.comments-section {
    margin-right: 20px;
    border: 1px solid #ddd;
    padding-top: 0.5rem;
    font-family: Arial, sans-serif;

    width: 100%;

    background-color: white;
    border-radius: 12px;
 }
  
  .comments-header {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .comments-header.toggle {
    cursor: pointer;
    color: #0077cc;
  }
  
  .comments-header.toggle:hover {
    text-decoration: underline;
  }
  
  .comments-list {
    margin: 0.5rem 0;
    padding: 8px;
    border: 2px solid #000000;
    max-height: 250px;
    overflow-y: auto;
  }
  
  .comment {
    background: #f9f9f9;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    border-radius: 6px;
    color: black;
  }
  
  .comment-meta {
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.3rem;
  }
  
  .comment-actions {
    margin-top: 0.4rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .comment-actions button {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.15s;
  }

  /* Edit button*/
  .comment-actions button.edit-btn {
    padding: 8px 25px;
    background-color: #e6f0ff;
    color: #0056b3;
  }

  .comment-actions button.edit-btn:hover {
    background-color: #cce0ff;
  }

  /* Delete button*/
  .comment-actions button.delete-btn {
    padding: 8px 25px;
    background-color: #dfb2b2;
    color: #cc0000;
  }

  .comment-actions button.delete-btn:hover {
    background-color: #ffcccc;
    transform: translateY(-1px);
  }
  
  .comment-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .comment-form textarea {
    resize: vertical;
    min-height: 60px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .comment-form button {
    height: 50px;
    width: 200px;
    align-self: flex-end;
    padding: 5px;
    margin: 19px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .comment-form button:hover {
    background: #005fa3;
  }
  
  